@page "/basic64converter"

<h1>Basic 64 Converter</h1>

<div class="form">
    <textarea class="form-control col-md-6" placeholder="Non Base64"></textarea>
    <small class="form-text text-muted ">This is the value to be encoded</small>
</div>

<button class="btn btn-primary" type="button">
    <span class="oi oi-arrow-circle-bottom"></span> 
    Encode
</button>

<button class="btn btn-success" type="button">
    <span class="oi oi-arrow-circle-top"></span> 
    Decode
</button>

<div class="form mt-2">
    <textarea class="form-control col-md-6" placeholder="Base64"></textarea>
    <small class="form-text text-muted ">This is the value to be decoded</small>
</div>
@code {

}
