@page "/basic64converter"

<h1>Basic 64 Converter</h1>

<div class="form">
    <textarea class="form-control col-md-6" placeholder="Non Base64"></textarea>
    <small class="form-text text-muted ">This is the value to be encoded</small>
</div>

@code {

}
